-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: zenbbit
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `image` varchar(50) NOT NULL DEFAULT 'undraw_profile.svg',
  `user_name` varchar(20) NOT NULL,
  `email` varchar(50) NOT NULL,
  `password` varchar(20) NOT NULL,
  `usertype` tinyint(1) NOT NULL DEFAULT 0 COMMENT '1=>super_admin 0=>sub_admin',
  `status` tinyint(1) NOT NULL DEFAULT 1 COMMENT '1 => Active 0 => Inactive',
  `reg_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `update_date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,'ips_fav.png','Admin','admin@earnwave-iso.com','Anthony2030',1,1,'2022-02-25 01:06:00','2025-11-07 21:52:53');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `banned_ip`
--

DROP TABLE IF EXISTS `banned_ip`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `banned_ip` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `first_name` varchar(500) NOT NULL,
  `last_name` varchar(200) NOT NULL,
  `ip_address` varchar(200) NOT NULL,
  `date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `banned_ip`
--

LOCK TABLES `banned_ip` WRITE;
/*!40000 ALTER TABLE `banned_ip` DISABLE KEYS */;
/*!40000 ALTER TABLE `banned_ip` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mails`
--

DROP TABLE IF EXISTS `mails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mails` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `mailer` varchar(150) NOT NULL,
  `subject` varchar(150) NOT NULL,
  `user` varchar(150) NOT NULL,
  `message` text NOT NULL,
  `date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mails`
--

LOCK TABLES `mails` WRITE;
/*!40000 ALTER TABLE `mails` DISABLE KEYS */;
/*!40000 ALTER TABLE `mails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `page_content`
--

DROP TABLE IF EXISTS `page_content`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `page_content` (
  `logo` varchar(100) DEFAULT NULL,
  `site_name` varchar(20) NOT NULL,
  `wallet` varchar(100) NOT NULL,
  `btc` varchar(2000) DEFAULT NULL,
  `trc` varchar(2000) DEFAULT NULL,
  `erc` varchar(2000) DEFAULT NULL,
  `eth` varchar(2000) DEFAULT NULL,
  `xrp` varchar(2000) DEFAULT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `about` text NOT NULL,
  `site_desc` text NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` varchar(200) DEFAULT NULL,
  `domain` varchar(50) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `fav` varchar(200) DEFAULT NULL,
  `ref` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `page_content`
--

LOCK TABLES `page_content` WRITE;
/*!40000 ALTER TABLE `page_content` DISABLE KEYS */;
INSERT INTO `page_content` VALUES ('Copilot_20250809_094116-removebg-preview.png','Zenbbit','null','bc1qgv5h3xf4lx68vqwsrggvqtlmfz3f54ew0eeswf','TYLNuAtFdrrEuRoEiCqa1rt74bfMZBbLAc','0x135f81488BC86d4B44B5b44e399970740B8fc964','0x135f81488BC86d4B44B5b44e399970740B8fc964','rhHWph8urzxexPuJjuSAD43U4xNT5g756v',1,'','BTC','support@earnwave-iso.com','54 Central Ave SW, Atlanta, GA 30303, USA','earnwave-iso.com','+1 (601) 678-5475','Copilot_20250809_094116-removebg-preview.png','5');
/*!40000 ALTER TABLE `page_content` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plan`
--

DROP TABLE IF EXISTS `plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `min` int(11) NOT NULL,
  `max` int(11) NOT NULL,
  `per` int(11) NOT NULL,
  `duration` int(11) NOT NULL COMMENT 'Day(s)',
  `status` tinyint(1) NOT NULL DEFAULT 0,
  `reg_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `up_date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=MyISAM AUTO_INCREMENT=13 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plan`
--

LOCK TABLES `plan` WRITE;
/*!40000 ALTER TABLE `plan` DISABLE KEYS */;
INSERT INTO `plan` VALUES (8,'Stater',300,4999,5,7,1,'2022-11-29 19:13:20','2025-10-02 23:58:26'),(10,'Classic',5000,49999,8,7,1,'2022-11-29 19:24:31','2025-08-09 13:18:15'),(12,'Gold',50000,0,10,7,1,'2023-08-16 17:38:28','2025-08-09 13:18:54');
/*!40000 ALTER TABLE `plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trade`
--

DROP TABLE IF EXISTS `trade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trade` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `trx_id` varchar(100) DEFAULT NULL,
  `user` varchar(50) NOT NULL,
  `amount` varchar(16) DEFAULT NULL,
  `pair` varchar(50) DEFAULT NULL,
  `profit` varchar(50) DEFAULT NULL,
  `trade_duration` int(11) NOT NULL DEFAULT 6,
  `status` tinyint(4) NOT NULL DEFAULT 0 COMMENT '0 => Processing; 1 => Trading; 2 => session complete;',
  `end_date` varchar(100) DEFAULT NULL,
  `create_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `up_date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `wth_trade` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trade`
--

LOCK TABLES `trade` WRITE;
/*!40000 ALTER TABLE `trade` DISABLE KEYS */;
/*!40000 ALTER TABLE `trade` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trade_set`
--

DROP TABLE IF EXISTS `trade_set`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trade_set` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `trade_hrs` int(11) NOT NULL DEFAULT 6,
  `profit` int(11) NOT NULL DEFAULT 200,
  `date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trade_set`
--

LOCK TABLES `trade_set` WRITE;
/*!40000 ALTER TABLE `trade_set` DISABLE KEYS */;
INSERT INTO `trade_set` VALUES (1,5,300,'2025-07-20 06:52:19');
/*!40000 ALTER TABLE `trade_set` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction`
--

DROP TABLE IF EXISTS `transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaction` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `trx_id` varchar(64) NOT NULL,
  `user_id` varchar(200) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `method` varchar(100) DEFAULT NULL,
  `bank_name` varchar(200) DEFAULT NULL,
  `acct_name` varchar(200) DEFAULT NULL,
  `acct_num` varchar(100) DEFAULT NULL,
  `route` varchar(200) DEFAULT NULL,
  `amt` DECIMAL(20,8) DEFAULT NULL,
  `asset` VARCHAR(50) DEFAULT NULL,
  `wallet_address` VARCHAR(255) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `type` VARCHAR(50) DEFAULT 'transaction',
  `gate_way` tinyint(4) DEFAULT 0 COMMENT '1 => Balance; 2 => profit; 3 => referral; 4 => Assets',
  `create_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `update` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `email` varchar(100) NOT NULL,
  `details` varchar(255) DEFAULT NULL,
  `proof` varchar(500) DEFAULT NULL,
  `serial` tinyint(4) NOT NULL DEFAULT 0 COMMENT '0 => Pending; 1 => Approved; 2 => Declined',
  `del_id` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction`
--

LOCK TABLES `transaction` WRITE;
/*!40000 ALTER TABLE `transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unknown_ip`
--

DROP TABLE IF EXISTS `unknown_ip`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `unknown_ip` (
  `id` int(11) NOT NULL,
  `ip_address` varchar(200) NOT NULL,
  `date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unknown_ip`
--

LOCK TABLES `unknown_ip` WRITE;
/*!40000 ALTER TABLE `unknown_ip` DISABLE KEYS */;
/*!40000 ALTER TABLE `unknown_ip` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `image` varchar(100) NOT NULL DEFAULT 'user.png',
  `first_name` varchar(40) DEFAULT NULL,
  `last_name` varchar(40) DEFAULT NULL,
  `balance` varchar(16) NOT NULL DEFAULT '0',
  `wth_amt` int(11) DEFAULT NULL,
  `profit` varchar(16) NOT NULL DEFAULT '0',
  `trade_per` int(11) NOT NULL DEFAULT 0,
  `referral` varchar(200) DEFAULT '0',
  `acct_id` varchar(40) NOT NULL,
  `phrase` varchar(500) DEFAULT NULL,
  `wallet_stat` tinyint(4) NOT NULL DEFAULT 0 COMMENT '0 => Not connected; 1 => Connected; 2 => Pending	',
  `acct_stat` varchar(200) NOT NULL DEFAULT 'Starter',
  `ref_id` varchar(100) DEFAULT NULL,
  `trade_btn` tinyint(1) NOT NULL DEFAULT 0,
  `email` varchar(100) NOT NULL,
  `phone` varchar(50) NOT NULL,
  `country` varchar(50) DEFAULT NULL,
  `state` varchar(50) DEFAULT NULL,
  `zip` varchar(20) DEFAULT NULL,
  `city` varchar(50) DEFAULT NULL,
  `address` varchar(100) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_expiry` varchar(255) DEFAULT NULL,
  `v_code` int(11) DEFAULT NULL,
  `ip_address` varchar(20) DEFAULT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 2 COMMENT '0 => Suspended; 1 => Active; 2 => Pending; 3 => Banned\r\n',
  `wth_amt_status` tinyint(1) NOT NULL DEFAULT 0,
  `reg_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `update` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `browser` varchar(200) DEFAULT NULL,
  `device` varchar(200) DEFAULT NULL,
  `device_type` varchar(200) DEFAULT NULL,
  `last_login` timestamp NOT NULL DEFAULT current_timestamp(),
  `card` varchar(500) DEFAULT NULL,
  `s_card` varchar(500) DEFAULT NULL,
  `card_stat` tinyint(4) NOT NULL DEFAULT 0 COMMENT '	0 => null; 1 => Verified; 2 => Declined',
  `kyc` tinyint(1) NOT NULL DEFAULT 1 COMMENT '0 => Off; 1 => ON',
  `ip` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=768 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-22 11:51:59
